*{
    margin:0;
    padding: 0;
}
body{
    font-family: "Inter",sans-serif;
    background-color: hsl(0,0%,5%);
}
.title{
    font-size: 150px;
    color: hsl(209, 100%, 89%);
}
.textbox{
    border:solid 2px hsl(0,0%,80%);
    font-size: 25px;
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
    color: #ffff;
}
.get-weather-btn{
    border: 0;
    padding: 5px 10px;
    font-size: 25px;
    border-radius: 5px;
}
.output{
    color: white;
    font-size: 10px;
}